*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 50vw;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(102,9,121,1) 56%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: white;
    width: 250px;
    height: 130px;
    /* display: flex;
    flex-direction: row; */
    max-width: 100em;
    /* justify-content: center;
    align-items: center; */
    /* white-space: nowrap; */
    overflow: hidden;
    /* overflow: hidden; */
    user-select: none;
    scroll-behavior: initial;
    /* pointer-events: none; */
}

.wrapper{
    background-color: yellow;
    width: 500px;
    height: 90px;
    /* text-align: center; */
    position: relative;
    /* left: 10px; */
}