:root{
    --azul-marinho:#1A76D1;
    --cinza-fonte: #2C2D3F;
}

*{

    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
    color: var(--cinza-fonte);
    text-decoration: none;
    letter-spacing: 0.03em;
    list-style-type: none;
}

html{
    box-sizing: border-box;
}


body{
    max-width: 1440px;
    margin: 0 auto;
}

/* Header start here */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 5vw;
    flex-wrap: wrap;
}

.useful_links{
    font-size: 2em;
    font-weight: 600;
    display: flex;
    gap: 1.4em;
}

.useful_links a{
    text-decoration: none;
}

.useful_links a:hover{
    text-decoration: none;
    color: var(--azul-marinho);
}

.contact{
    display: flex;
    flex-direction: row;
    gap: 4vw;
    align-items: center;
}

.contact i{
    color:var(--azul-marinho);
    padding: 0 0.3vw 0 0;
    align-self: center;
}

.telephone{
    display: flex;
    flex-direction: row;
}
.email a:hover{
    color: var(--azul-marinho);
}

/* Header finish here */


/* Start Nav Bar */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #FFF;
    align-items: center;
    z-index: 999; 
    flex-wrap: wrap;
    transition: all 1s ease 0s;
    
}

.nav-sticky{
    position: sticky;
    animation: nav-move 0.4s ease forwards;
    box-shadow: #000 1px -8px 20px 0px;
}

@keyframes nav-move{
    from{
        top: -5em;
        opacity: 0;
    } to {
        top: 0;
        opacity: 1;
    }
}


.header_to_nav{
    border: 1px solid gray;
    width: 98%;
    opacity: 10%;
    margin: 1em auto;
}

nav img{
    width: 160px;
    height: 50px;
}

.nav_options{
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

.select{
    border-bottom: 4px solid var(--azul-marinho);
 }
 
.nav_options li{
    cursor: pointer;
    padding: 1.4vw 2vw;
    font-weight: 600;
    display: inline-block;
    position: relative;
}

.nav_options li:hover{
    color: var(--azul-marinho);
}

.nav_options li:after{
    transition: all ease-in .3s;
    content: "";
    height: 3px;
    width: 0;
    background: none repeat scroll var(--azul-marinho);
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    visibility: hidden;
}

.nav_options li:hover:after{
    width: 100%;
    position: absolute;
    visibility: visible;
}

.pages_option{
    display: none;
    background-color: #FFF;
    position: absolute;
}

.pages_option p{
    font-size: 1em;
    font-weight: 500;
    padding: 0.6em 0.4em;
}

.pages_option p:hover{
    color: #2c2d3fb4;
}

li .dropdown{
    position: relative;
}

.showing{
    
    display: block;
    z-index: 3;
    left: 0;
    bottom: -36px;

    width: 15em;
    border-left: 3px solid var(--azul-marinho);
    box-shadow: black 1px 1px 2px -1px;
}


.button_nav{
    cursor: pointer;
    background-color: var(--azul-marinho);
    border-radius: 6px;
    width: max-content;
    color: #FFF;
    border: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-weight: 600;
    height: 3em;
    padding: 0 1em;
}

.button_effect-background{
    left: 50%;
    right: 50%;
    height: 100%;
    top: 50%;
    width: 0%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
    background-color: #2C2D3F;
    z-index: -1;
}

.button_nav:hover .button_effect-background{
    width: 100%;
}


/* END NAV BAR */


/* Start Slide Show */

.slider_show{
    z-index: 1;
    position: relative;
}

.container_picture{
    position: relative;
    width: -webkit-fill-available;
    z-index: 2;
}

.slider{
    z-index: -1;
    position: relative;
    width: -webkit-fill-available;
    scale: 1;
    height: 600px;
}


.fa-chevron-left{
    left: 1em;
}

.fa-chevron-right{
    right: 1em;
}

.chevron{
    position: absolute;
    top: 50%;
    background-color: #1A76D1;
    font-size: 2em;
    padding: 0.4em;
    color: #FFF;
    border-radius: 50%;
    transition: all 0.3s ease-out;
    cursor: pointer;
    z-index: 2;
}

.chevron:hover{
    background-color: var(--cinza-fonte);
}

.container_slider_text{
    position: absolute;
    z-index: 2;
    left: 10vw;
    width: 50vw;
    top: 10vw;
}

.slider_text{
    font-size: 38px;
    color: var(--cinza-fonte);
    margin-bottom: 1.5vw;
    position: relative;
    top: 0;
    opacity: 0;
}

.slider_text--animation{
    animation: move-text 1s forwards;
    animation-delay: 0.3s;
}

.slider_text strong{
    color: var(--azul-marinho);
    font-size: 38px;
    font-weight: bold;
}

.slider_p{
    font-size: 1em;
    margin-bottom: 1vw;
    position: relative;
    top: 0;
    
}

.slider_p--animation{
    animation: move-text 1s forwards;
    animation-delay: 0.7s;
    animation-duration: 1s;
    opacity: 0;
}

.container_slider_buttons{
    position: relative;
    top: 0;
}

.slider_buttons--animation{
    animation: move-buttons 1s forwards;
    animation-delay: 1.4s;
    opacity: 0;
}

@keyframes move-text{
    from{
        top: 100px;
    } to{
        top:0;
        opacity: 1;
    }
}

@keyframes move-buttons{
    from{
        top: -100px;
    } to{
        top:0;
        opacity: 1;
    }
}

.button_nav--second{
    background-color: var(--cinza-fonte);
}

.button_effect-background--second{
    background-color: var(--azul-marinho);
}

/* End Slide Show */

/* First Section start */

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
    top: -8vw;
    margin: 0 6vw 0px;
    flex-wrap: wrap;
    gap:3vw;
}

.card{
    background-color: #1A76D1;
    display: flex;
    flex-direction: column;
    width: 20em;
    padding: 2vw;
    border-radius: 8px;
    position: relative;
    transition: all 0.2s ease;
    overflow: hidden;
}

.card:hover{
    box-shadow: var(--cinza-fonte) 0 17px 17px 0px;
    transform: translateY(-10px);
}

.card_name{
    font-size: 1em;
    color: #FFF;
    margin: 0 0 1em;
    font-weight: 400;
}

.card_type, .card_schedule{
    font-size: 1.3em;
    color: #FFF;
    font-weight: 600;
    margin: 0 0 1.3em;
}

.card_description{
    font-size: 1em;
    color: #FFF;
    margin: 0 0 1.3em;
    font-weight: 300;
}

.card_link-container{
    position: relative;
    width: max-content;
}

.card_link{
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #FFF;
    box-sizing: border-box;
}

.card_link::after{
    content: "";
    transition: all .3s ease-in-out;
    background: none repeat scroll #ffffff4b;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 0;
    position: absolute;

}

.card_link:hover::after{
    width: 100%;
}

.card_schedule{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_days p, .card_hours p{
    color: #FFF;
    font-weight: 300;
}


.card_arrow{
    color: #FFF;
    font-size: 1em;
    margin-left: 0.4em;
}

.card_icon{
    position: absolute;
    bottom: -10px;
    right: -15px;
    font-size: 6em;
    color: #ffffff21;
}

.first_section{
    display:flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;
    font-family: 'Poppins';
    margin-bottom: 8em;
}

.sections-title{
    font-size: 2em;
    
}

.sections-img{
    margin: 2vw 0;
    max-width: 100%;
}

.sections-text{
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 5em;
}

.first_section-services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
}

.first_section-cards{
    display: flex;
    flex-direction: column;
    width: 25em;
    align-items: center;
    text-align: center;
    position: relative;
}



.dots_dots::after{
    content: ".................";
    position: absolute;
    font-size: 3em;
    right: -2.2em;
    top: 0.4em;
    color: var(--azul-marinho);
}

.first_section-image{
    border: 1px solid #0000004d;
    border-radius: 50%;
    width: 8.5em;
    height: 8.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2em;
}

.first_section-image i{
    font-size: 3.5em;
    color: var(--azul-marinho);
}

.first_section-subtitle{
    font-size: 1.6em;
    margin-bottom: 1.2em;
}

.first_section-cards:hover .first_section-image{
    background-color: var(--azul-marinho);
}

.first_section-cards:hover .first_section-image i{
    color: #FFF;
}

.first_section-text{
    font-weight: 100;
    width: 85%;
}

/* First Section end */

/* Second Section */

.second_section{
    background-color: var(--azul-marinho);
}

.second_section-background{
    background-image: url(images/fundo_maos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 120px 0;
    justify-content: center;
}

.second_section-background::before{
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: var(--azul-marinho);
    position: absolute;
    opacity: 0.7;
    z-index: 3;
}

.second_section-divs{
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 1em;
    margin: 0 3em;
}

.second_section-divs i, .second_section-divs p{
    color: #FFF;
}

.second_section-divs i{
    font-size: 2em;
    border-radius: 50%;
    border: 1px solid #FFF;
    padding: 0.6em;
    transition: all 0.4 ease-in-out;
    -webkit-transition: all 0.4 ease;
}

.second_section-divs i:hover{
    background-color: #FFF;
    color: var(--azul-marinho);
    transition: all 0.4 ease;
    -webkit-transition: all 0.4 ease;
}

.second_section-divs--datas{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.statistics{
    font-size: 2.6em;
    font-weight: 900;
}

.curiosites{
    font-size: 1.1em;
}


/* Second Section End */

/* Third Section Start */

.third_section{
    display: flex;
    flex-direction: column;
    margin-bottom: 6em;
}

.third_section-container--one{
    text-align: center;
    padding: 5em 0 0;
    width: 42em;
    margin: 0 auto;
}

.third_section-container--two{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.third_section i{
    color: var(--azul-marinho);
}

.third_section--text{
    /* padding: 0 6em; */
    width: 40%;
    /* margin: 0 auto; */
}


.third_section--title{
    font-size: 2em;
    color: #000;
    font-weight: bolder;
    margin: 0 0 1em;
    position: relative;
}

.third_section--title::after{
    content: "";
    position: absolute;
    width: 64px;
    height: 3px;
    background-color: var(--azul-marinho);
    bottom: -15px;
    left: 0;
    z-index: 2;
}

.third_section--p{
    margin: 0 0 3em;
}

.third_section--mini-container{
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.third_section--mini-container div{
    display: flex;
    flex-direction: column;
    
}

.third_section--video{
    width: 40em;
    height: max-content;
}

.third_section--container-video{
    background-image: url(images/video-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 24em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third_section--container-video i{
    font-size: 5.5em;
    z-index: 4;
    background: #FFF;
    border-radius: 100%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.third_section--container-video i:hover{
    scale: 1.1;
}

.container-wave{
    position: absolute;
    top: 10.1em;
    left: 18.2em;
}

.wave{
    width: 50px;
    height: 50px;
    opacity: 0;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 3;
    animation: waving 2.5s ease-in-out infinite;
}

.wave1{
    animation-delay: 0s;
}

.wave2{
    animation-delay: .8s;
}

.wave3{
    animation-delay: 1.6s;
}

@keyframes waving{
    from{
        scale: 0;
        opacity: 1;
    }
    to{
        scale: 3;
        opacity: .3;
    }
}


/* Third Section End */

/* <!-- Fourth Section Start --> */

.fourth_section{
    height: 449px;
    margin-bottom: 3em;
}

.fourth_section-background{
    background-image: url(images/call-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    position: relative;
    z-index: 2;
    opacity: 1;
    height: 449px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fourth_section-background::before{
    content: "";
    background-color: var(--azul-marinho);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 1;
}

.fourth_section-container{
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 3;
    width: 45em;
    margin: 0 auto;
    gap: 1.5em;
}

.fourth_section-title{
    font-size: 2em;
    font-weight: 900;
    color: #FFF;
}

.fourth_section-p{
    font-size: 1em;
    color: #FFF;
}

.fourth_section-buttons{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.fourth_section-button{
    position: relative;
    background-color: #FFF;
    color: var(--azul-marinho);
    border-radius: 3px;
    border:1px solid #FFF;
    width: 10em;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.fourth_section-button--effect{
    position: absolute;
    background-color: var(--azul-marinho);
    width: 0;
    height: 100%;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: scale(1) translate(-50%);
    transition: all 0.4s ease;
    border-radius: 3px;
}

.fourth_section-button:hover, .fourth_section-button:hover .card_arrow{
    color: #FFF;
    transition: all 0.3s ease;
}

.fourth_section-button:hover .fourth_section-button--effect{
    width: 100%;
    z-index: -1;
    color: #FFF;
}

.fourth_section-button i{
    color: var(--azul-marinho);
}

/* * <!-- Fourth Section END --> */

/* * <!-- Fifth Section Start --> */ 

.fifth_section{
    text-align: center;
}

.fifth_section-carousel{
    margin-bottom: 4em;
    position: relative;
    height: 300px;
    width: 100%;
    max-width: 2900px;
}

.carousel_drag{
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative;
    left: 0;
    overflow: hidden;
}

.carousel_image{
    position: relative;
}

.carousel_image img{
    height: 100%;
    width: 350px;
}

.carousel_image::before{
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: var(--azul-marinho);
    opacity: 0;
    transition: all .2s ease-in-out;
}

.carousel_image:hover::before{
    opacity: 0.5;
    transition: all .2s ease-in-out;
}

.carousel_image:hover .view-details{
    display: inline-block;
}

.carousel_drag .view-details{
    top: 40%;
    position: absolute;
    z-index: 3;
    left: 31%;
    display: none;
    transition: all .2s ease-in-out;
}

.carousel_drag .fourth_section-button{
    font-size: 1em !important;
    font-weight: 900 !important;
}

.carousel_drag .fourth_section-button--effect{
    background-color: var(--cinza-fonte) !important;
}

.fifth_section-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6em 0;
}

.fifth_section-top, .fifth_section-bottom{
    display: flex;
    flex-direction: row;
    gap: 6em;
}

.fifth_section-card{
    margin-bottom: 3em;
    display: flex;
    flex-direction: row;
}

.fifth_section-card i{
    color: var(--azul-marinho);
    font-size: 2.5em;
}

.fifth_section-card-encaps{
    text-align: left;
    margin-left: 1em;
    width: 17em;
}

.fifth_section-card_title{
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 1em;
}

.fifth_section-card_text{
    font-weight: 100;
}

/* <!-- Fifth Section End --> */

/* <!-- Sixth Section START --> */

.sixth_section{
    background-color: #f9f9f9;
    padding: 6em 0;
    text-align: center;
}

.sixth_section-container_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sixth_section-card{
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 2.5em;
    margin: 1.5em;
    width: 21em;
}

.sixth_section-card i:first-child{
    color: var(--azul-marinho);
    font-size: 4em;
    margin-bottom: .6em;
}

.sixth_section-card_title{
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 0.5em;
}

.sixth_section-card_amout{
    color: var(--azul-marinho);
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 1em;
}

.sixth_section-card_amout span{
    font-weight: 100;
}

.sixth_section-card_item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.8em;
}

.fa-circle-check{
    color: var(--azul-marinho);
}

.fa-circle-xmark{
    color: #AAA;
}

.sixth_section-button{
    background-color: var(--azul-marinho);
    color: #FFF;
    padding: 0.6em 0em;
    position: relative;
    width: 100%;
    display: inline-block;
    font-weight: 900;
    z-index: 2;
    overflow: hidden;
    border-radius: 3px;
    margin-top: 1.3em;
}

.sixth_section-button--fill{
    width: 0;
    position: absolute;
    z-index: -1;
    background-color: var(--cinza-fonte);
    left: 50%;
    bottom: 0;
    top: 0;
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

.sixth_section-button:hover .sixth_section-button--fill{
    width: 100%;
}

/* <!-- Sixth Section End --> */

/* <!-- Seventh Section Start --> */

.seventh_section{
    padding: 7em 4em;
    text-align: center;
}

.seventh_section-container_blogs{
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1em 2em;
}

.seventh_section-blog{
    box-shadow:  0px 0px 10px #00000014;;
    width: 27em;
    position: relative;
    z-index: 3;
}

.seventh_section-blog::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--azul-marinho);
    bottom: 0;
    left: 0;
    z-index: 4;
    transition: all 0.2s ease-in-out;
}

.seventh_section-blog:hover::before{
    width: 100%;
}

.seventh_section-blog img{
    width: 100%;
}

.seventh_section-blog_content{
    padding: 2.1em 2em;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.blog_date{
    color: #FFF;
    background-color: var(--azul-marinho);
    padding: 0.3em 1em;
    border-radius: 2px;
    width: max-content;
    margin-bottom: 1em;
}

.blog_title{
    font-weight: 900;
    font-size: 1.2em;
    margin: 0 0 0.8em;
}

/* <!-- Seventh Section END --> */
/* <!-- Eigth Section Start --> */

.eight_section-container{
    background-image: url(images/client-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.eight_section-container::before{
    content: "";
    position: absolute;
    z-index: 2;
    background-color: var(--azul-marinho);
    opacity: 0.8;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.eight_section-carousel{
    flex-direction: row;
    display: flex;
    padding: 5em;
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 80vw;
    gap: 10em;
}

.eight_section-image img{
    width: 10em;
}

/* <!-- Eigth Section End --> */

/* /* <!-- nineth Section Start --> */

.nineth_section{
    padding: 4em 4em 1em;
}

.nineth_section-container_text{
    text-align: center;
}

.nineth_section-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nineth_section-form{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3em;
    margin-bottom: 2em;
}

form input, form textarea,.option_current{
    border: 1px solid #eee;
    padding: 0 18px;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    width: 19vw;
    height: 50px;
}

form textarea{
    padding: 5px 18px;
    width: -webkit-fill-available;
    height: 200px;
    resize: none;
    position: relative;
    z-index: 0;
}

.form_column-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2em;
    position: relative;
    z-index: 1;
}

.form_column-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2em;
    position: relative;
    z-index: 1;
}

.form_options{
    position: relative;
    width: 100%;
}

/* //span */
.option_current{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.form_options .list{
    position: absolute;
    z-index: 3;
    display: none;
    flex-direction: column;
    border: 1px solid #eee;
    width: inherit;
    background-color: #FFF;
}

.list--showing{
    display: flex !important;
}


.list .option{
    z-index: 3;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    font-weight: bold;
}

.list .option:hover{
    background-color: var(--azul-marinho);
    color: #FFF;
}

.nineth_section-container_button{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1em;
}

.nineth_section-button{
    background-color: var(--azul-marinho);
    color: #FFF;
    padding: 1em;
    position: relative;
    width: 30%;
    display: inline-block;
    font-weight: 900;
    z-index: 2;
    overflow: hidden;
    border-radius: 3px;
    margin-top: 1.3em;
    text-align: center;
}

.nineth_section-button--fill{
    width: 0;
    position: absolute;
    z-index: -1;
    background-color: var(--cinza-fonte);
    left: 50%;
    bottom: 0;
    top: 0;
    transition: all 0.4s ease;
    transform: translateX(-50%);
}
.nineth_section-button:hover .nineth_section-button--fill{
    width: 100%;
}

    /* <!-- nineth Section End --> */ 


    /* Newsletter Section Start */

    .container_newsletter{
        padding: 7em 4em;
        background-color: #EDF2FF;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4em;
    }
    
    .signup{
        width: 30vw;
    }

    .newsletter_title{
        font-size: 1.7em;
        font-weight: bold;
        color: #2C2D3F;
    } 
    
    .newsletter_p{
        font-size: 1em;
        font-weight: 100;
        color: #757575;
    }

    .sign_email{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }

    .sign_email input{
        height: 60px;
        width: 300px;
        border: none;
        color: #333;
        box-shadow: none;
        text-shadow: none;
        border-radius: 5px;
        padding: 0px 25px;
        font-weight: 500;
        font-size: 14px;
        background: #fff;
        font-weight: 400;
    }

    .newsletter-button{
        background-color: var(--azul-marinho);
        color: #FFF;
        position: relative;
        width: 180px;
        height: 60px;
        font-weight: 900;
        z-index: 2;
        overflow: hidden;
        border-radius: 5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .newsletter-button--fill{
        width: 0;
        position: absolute;
        z-index: -1;
        background-color: var(--cinza-fonte);
        left: 50%;
        bottom: 0;
        top: 0;
        transition: all 0.4s ease;
        transform: translateX(-50%);
    }

    .newsletter-button:hover .newsletter-button--fill{
        width: 100%;
    }

    /* Newsletter Section End */


    /* <!-- Footer Section Start --> */

    .footer_information{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: var(--azul-marinho);
        position: relative;
        padding: 5em 5em;
    }

    .footer_information::before{
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;
        opacity: .1;
        
    }

    .footer_information-container{
        width: 18vw;
        position: relative;
    }

    .footer_title{
        color: #FFF;
        font-weight: bold;
        font-size: 1.7em;
        position: relative;
        margin-bottom: 2em;
    }

    .footer_title::after{
        content: "";
        position: absolute;
        background-color: #fff;
        height: 3px;
        bottom: -.4em;
        left: 0;
        width: 2.5em;
        position: absolute;
        z-index: 0;
    }

    .footer_text{
        color: #FFF;
        font-weight: 400;
        margin-bottom: 1.5em;
    }

    .footer_social{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .social_link{
        border: 1px solid #FFF;
        border-radius: 100%;
        width: 2.5em;
        height: 2.5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .footer_social i{
        font-size: 16px;
        color: #FFF;
    }


    .footer_information--links{
        display: flex;
        flex-direction: row;
        gap: 3em;
        transition: all .3s ease-in-out;
    }

    .footer_links{
        display: flex;
        flex-direction: column;
        gap: .7em;
    }

    .footer_links .link{
        color: #FFF;
        transition: all .3s ease-in-out;
    }

    .footer_links .link:hover{
        transform: translateX(15px) scale(1.1);
    }

    .footer_links .link i{
        color: #FFF;
        margin-right: 7px;
    }

    .footer_information-button_container{
        position: relative;
        overflow: hidden;
    }

    .footer_information-button_container input{
        position: relative;
        z-index: 1;
        background-color: var(--azul-marinho);
        border: 1px solid #FFF;
        color: #FFF;
        width: -webkit-fill-available;;
        height: 3em;
        padding-left: 1em;
        border-radius: 5px;
    }

    .footer_information-button_container input:focus{
        border: 3px solid #FFF !important;
        border-radius: 5px;
        
        
    }

   
    .footer_information-button_container input::placeholder{
        color: #FFF;
    }

    

    .footer_information-button_container button{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        padding: 0em 1.2em;
        background: #FFF;
        border: 1px solid #FFF;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .footer_information-button_container i{
        font-size: 2em;
        color: var(--azul-marinho);
    }
    

    .footer_copyright{
        background-color: var(--azul-marinho);
        text-align: center;
    }

    .copyright{
        color: #FFF;
        padding: 3em 0;
    } 
    }
    /* <!-- Footer Section End --> */