:root{
    --azul-marinho:#1A76D1;
    --cinza-fonte: #2C2D3F;
}
*{

    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
    color: var(--cinza-fonte);
    text-decoration: none;
    letter-spacing: 0.03em;
    list-style-type: none;
}

/* Header start here */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 5vw;
}

.useful_links{
    font-size: 2em;
    font-weight: 600;
    display: flex;
    gap: 1.4em;
}

.useful_links a{
    text-decoration: none;
}

.useful_links a:hover{
    text-decoration: none;
    color: var(--azul-marinho);
}

.contact{
    display: flex;
    flex-direction: row;
    gap: 4vw;
    align-items: center;
}

.contact i{
    color:var(--azul-marinho);
    padding: 0 0.3vw 0 0;
    align-self: center;
}

.telephone{
    display: flex;
    flex-direction: row;
}
.email a:hover{
    color: var(--azul-marinho);
}

/* Header finish here */


/* Start Nav Bar */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #FFF;
    align-items: center;
    z-index: 2;
    position: relative;
}

.header_to_nav{
    border: 1px solid gray;
    width: 98%;
    opacity: 10%;
    margin: 1em auto;
}

nav img{
    width: 160px;
    height: 50px;
}

.nav_options{
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

.select{
    border-bottom: 4px solid var(--azul-marinho);
 }
 
.nav_options li{
    cursor: pointer;
    padding: 1.4em 2em;
    font-weight: 600;
    display: inline-block;
    position: relative;
}

.nav_options li:hover{
    color: var(--azul-marinho);
}

.nav_options li:after{
    transition: all ease-in .3s;
    content: "";
    height: 3px;
    width: 0;
    background: none repeat scroll var(--azul-marinho);
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    visibility: hidden;
}

.nav_options li:hover:after{
    width: 100%;
    position: absolute;
    visibility: visible;
}

.pages_option{
    display: none;
    background-color: #FFF;
}

.pages_option p{
    font-size: 1em;
    font-weight: 500;
    padding: 0.6em 0.4em;
}

.pages_option p:hover{
    color: #2c2d3fb4;
}

li .dropdown{
    position: relative;
}

.showing{
    position: absolute;
    display: block;
    top: 63px;
    left: 0;
    width: 15em;
    border-left: 3px solid var(--azul-marinho);
    box-shadow: black 1px 1px 2px -1px;
}


.button_nav{
    cursor: pointer;
    background-color: var(--azul-marinho);
    border-radius: 6px;
    width: max-content;
    color: #FFF;
    border: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-weight: 600;
    height: 3em;
    padding: 0 1em;
}

.button_effect-background{
    left: 50%;
    right: 50%;
    height: 100%;
    top: 50%;
    width: 0%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
    background-color: #2C2D3F;
    z-index: -1;
}

.button_nav:hover .button_effect-background{
    width: 100%;
}


/* END NAV BAR */
.slider_show{
    z-index: 1;
    position: relative;
}

.container_picture{
    height: 600px;
    position: absolute;
    width: -webkit-fill-available;
}

.slider{
    z-index: -1;
    top: -45px;
    position: relative;
    width: -webkit-fill-available;
    
}


.fa-chevron-left{
    left: 1em;
}

.fa-chevron-right{
    right: 1em;
}

.chevron{
    position: absolute;
    top: 50%;
    background-color: #1A76D1;
    font-size: 2em;
    padding: 0.4em;
    color: #FFF;
    border-radius: 50%;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.chevron:hover{
    background-color: var(--cinza-fonte);
}

.container_slider_text{
    position: relative;
    z-index: 99;
    left: 7em;
    width: 31vw;
    top: 10em;
}

.slider_text{
    font-size: 38px;
    color: var(--cinza-fonte);
    margin-bottom: 1.5vw;
    position: relative;
    top: 0;
    animation: move-text 1s forwards;
    animation-delay: 0.3s;
    opacity: 0;
}

.slider_text strong{
    color: var(--azul-marinho);
    font-size: 38px;
    font-weight: bold;
}

.slider_p{
    font-size: 1em;
    margin-bottom: 1vw;
    position: relative;
    top: 0;
    animation: move-text 1s forwards;
    animation-delay: 0.7s;
    opacity: 0;
}

.container_slider_buttons{
    position: relative;
    top: 0;
    animation: move-buttons 1s forwards;
    animation-delay: 1.4s;
    opacity: 0;
}

@keyframes move-text{
    from{
        top: 100px;
    } to{
        top:0;
        opacity: 1;
    }
}

@keyframes move-buttons{
    from{
        top: -100px;
    } to{
        top:0;
        opacity: 1;
    }
}

.button_nav--second{
    background-color: var(--cinza-fonte);
}

.button_effect-background--second{
    background-color: var(--azul-marinho);
}